#scrollToTopBtn {
    position: fixed;
    bottom: 70px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: block;
}
#scrollToBottomBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: block;
}
.button-container {
    text-align: center; /* 버튼을 중앙으로 정렬 */
}

#liveToastBtn {
    padding: 20px 20px; /* 상하 패딩 10px, 좌우 패딩 20px */
}