#scrollToTopBtn {
    position: fixed;
    bottom: 70px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: block;
}
#scrollToBottomBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: block;
}