/* 슬라이더 배너 관련 스타일 */
.slide-banner {
    position: relative;
    margin: 0; /* 상하좌우 여백 제거 */
    overflow: hidden; /* 슬라이드 영역을 넘어서는 부분은 숨김 처리 */
}
  
.slides {
display: flex; /* 슬라이드를 가로로 나열 */
transition: transform 0.5s ease; /* 부드러운 전환 효과 */
}

.slide {
position: relative;
width: 100%; /* 부모 요소의 전체 너비를 사용합니다 */
padding-top: 26.24%; /* 이미지 비율에 맞춰 높이를 설정합니다 */
overflow: hidden; /* 슬라이드 바깥으로 나간 이미지를 숨깁니다 */
}

.slide img {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: auto; /* 이미지의 가로 크기를 자동으로 조정합니다 */
max-height: 100%; /* 슬라이드의 최대 높이를 설정합니다 */
max-width: none; /* 가로 크기 제한을 해제합니다 */
}
.weekdays {
display: flex;
justify-content: space-around;
background-color: #f1f1f1;
padding: 10px 0;
}

.day {
text-align: center;
font-size: 16px;
color: #333;
flex-grow: 1;
}

/* 활성 요일의 스타일을 다르게 하고 싶다면 추가 클래스를 사용할 수 있습니다. */
.active-day {
background-color: #4CAF50;
color: white;
}
#board {
    display: flex;
    flex-direction: row; /* 가로로 정렬하기 위해 flex-direction을 row로 설정합니다. */
    justify-content: space-around; /* 각 요소 주변에 동일한 공간을 두어 균등하게 분포시킵니다. */
    align-items: center; /* 세로 축 중앙 정렬 */
    text-align: center;
  }
  
  
  .ranking {
    margin: 0 20px; /* 요소들 사이에 적당한 간격을 추가합니다. */
  }
  
  .first {
    order: 2;
  }
  
  .second {
    order: 1;
  }
  
  .third {
    order: 3;
  }
  